{% load static %}
<head>
<link rel="stylesheet" href="{% static 'ml/footer.css' %}">
</head>


<section id="footer">
    <div class="container footer">
        <div class="brand">
            <h1 class="section-title"><span>T</span>rion</h1>
        </div>
        <h2>People Making Tech Work</h2>
        <div class="social-icon">
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" alt=""></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" alt=""></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" alt=""></a>
            </div>
            <div class="social-item">
                <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/behance.png" alt=""></a>
            </div>
        </div>
        <p>Copyright &#169; 2021 Trion. All rights reserved</p>
    </div>
</section>

